
body {
    padding-top: 54px;
    color: rgba(0,0,0,.7)!important;
    line-height: 1.4;
}

.container {
    font-family: 'Cantarell', sans-serif;
}

.container h1 {
  margin-top: 20px;  
}

.container h1, .container h2, .container h3 {
    font-family: 'Fjalla One', sans-serif;
    margin-top: 20px;
    color: rgba(0,0,0,.7)!important;
}

article {
  padding: 15px;  
}

.alert {
    margin-top: 0px;    
    width: 100%;
    text-align: center;
    font-size: 140%;
}

@media (min-width: 176px) {
    .container {
        padding-left: 0px;
        padding-right: 0px;	
    }
  
  .site-header-slim h1 {
    font-size: 2.0rem;
  }

  .site-header-slim h2 {
    font-size: 1.2rem;
  }

  .site-header h1 {
    font-size: 2.0rem;  
  }

  .site-header h2 {
     font-size: 1.5rem; 
  }
  
  .sidepanel-col {
    display: none;
  }
  
  .posts .card {
    padding: 15px;
  }
  
  .posts .col-md-12 {
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .col-lg-8 {
    padding-left: 5px;
    padding-right: 5px;    
  }
}

@media (min-width: 576px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;    
    }
    
  .site-header-slim h1 {
    font-size: 2.5rem;
  }

  .site-header-slim h2 {
    font-size: 1.1rem;
  }

  .site-header h1 {
    font-size: 2.5rem;  
  }

  .site-header h2 {
     font-size: 2.0rem; 
  }
  
 .sidepanel-col {
    display: initial;
  }

  .posts .card {
    padding: 12px;
  }

  .col-lg-8 {
    padding-left: 10px;
    padding-right: 10px;    
  }
  
}

@media (min-width: 768px) {
  .container {
    max-width: 100%;
  }

  .site-header-slim h1 {
    font-size: 2.2rem;  
  }

  .site-header-slim h2 {
    font-size: 1.5rem;
  }

  .site-header h1 {
    font-size: 3.5re7m; 
  }

  .site-header h2 {
    font-size: 3.0rem;  
  }

  .posts .col-md-12 {
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .col-lg-8 {
    padding-left: 15px;
    padding-right: 15px;    
  }

}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
    
  .site-header-slim h1 {
    font-size: 3.0rem;  
  }

  .site-header h1 {
    font-size: 4.5rem;  
  }
}

@media (min-width: 1200px) {
   .container {
    max-width: 1140px;
  }
 
  .site-header-slim h1 {
    font-size: 3.0rem;  
  }

  .site-header h1 {
    font-size: 4.5rem;  
  }

  .site-header h2 {
    font-size: 4.0rem;  
  }
}

.site-header {
  height: 50vh;
  min-height: 200px;
  margin-top: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  resize: vertical;
  overflow: auto;

  background: cover;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.site-header-slim {
  height: 10rem;
  min-height: 100px;
  margin-top:10px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  resize: vertical;
  overflow: auto;
  
  background: cover;
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.site-header-slim h1 {
      font-weight: 400;
}

.site-header-slim h2 {
      font-weight: 400;
}

.site-header h1 {
      font-weight: 400;
}

.jumbotron {
  padding: 20px;
  
  background: cover;
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

}

.jumbotron .container {
  background-color: rgba(255, 255, 255, 0.35);
}

.jumbotron h1 {
  font-size: 300%;  
}

.jumbotron h2 {
  font-size: 250%;  
}

.ft_container {
	margin-bottom: 15px;
}

.ft_title {
	font-size: 140%;
}

.ft_title .ft_strong {
	font-size: 110%;
  font-weight: 900;
}

.ft_videocol iframe {
  width: 100%;
}

.ft_list {
  font-size: 120%;
  height: 100%;  
}

.ft_list a {
    color: #343a40!important;
}

.ft_list ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
}

.ft_card {
  margin-bottom: 10px;
}

.events {
    margin-top: 0px; 
    margin-bottom: 20px;
}

.events h1 {
    font-size: 2.6rem;  
}

.event-title {
    margin-top:10px;
}

.event-header .event-link {
    color: #343a40!important;
}

.event-image {
    width: 100%;
}

.posts_row  {
    margin-bottom: 10px;
}

.posts .col-md-6 {
    margin-top: 20px;
}

.posts .card .meta {
    font-size: 100%;
    color: #6c757d!important;
}

.thumbnail img {
  width: 100%;
  margin-bottom: 10px;
}

.card {
    height: 100%;
}

.box-shadow {
    border-color: #f0f0f0;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .005);
}

.post-link {
    color: rgba(0,0,0,.7)!important;
}

.post_thumbnail {
  width: 100%;
  margin-bottom: 15px;
}

.toc-entry a {
  color: rgba(0,0,0,.7)!important;
}

blockquote {
  font: 14px/22px italic;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
} 

.widget {
    font-size: 80%; 
}

.widget h5 {
    font-size: 120%;    
}

@media (min-width: 576px) {
    .news_widget iframe {
        height: 200px;
    }
}

@media (min-width: 768px) { 
    .news_widget {
        display: table; 
    }

    .news_widget {
        height: 600px;
    }
}

.news_widget {
    margin-top: 10px;
  font-size: 90%;
}

.news_widget h4 {
    margin-top: 0px;
  font-weight: 900;
}

.tzm-news-header {
  font-weight: 900;
  margin-top: 5px;
  margin-bottom: 3px;  
}

.tzm-news-container {
  margin: 0px;
  padding: 0px;
}

.widget_posts_row {
    margin-top: 10px;   
}

.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}

.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}

.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;

}

.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}

.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.gallery_product
{
    margin-bottom: 30px;
}

.gallery_product .img-preview
{
    height: 60px;
}

.gallery-modal-dialog {
    position: relative;
    display: table; /* This is important */ 
    overflow-y: auto;    
    overflow-x: auto;
    width: auto;
    min-width: 300px;
}

.gallery-modal-dialog img {
    max-width: 800px;
}

.row {
    margin: 0px;  
}

.page-footer {
    margin-top: 30px;
    background-color: #f8f9fa;
    display: table;
    color: rgba(0,0,0,.7);
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

.footer-copyright {
   background-color: #f0f0f0;
}

.footer_links {
  font-size: 90%;
  padding: 0px;
}

.page-footer a {
    color: rgba(0,0,0,.7)!important;  
}

.footer_title {
    display: table-cell;
}

.footer_links .container {
    width: 100%;
}

.footer_links ul {
  margin: 0px;
}

.dropdown-menu {
  margin: 0px;
}

.wp-block-image img {
  width: 100%;
}

.postfigure {
  width: 60%;
  margin-top: 10px;
}

.project_in_list h3 a {
    color: rgba(0,0,0,.7)!important;
}

.project_in_list h2 {
	font-size: 140%;
}

.project_card {
    margin-bottom: 20px;
    padding: 20px;
}

.home_content {
    margin-bottom: 20px;
    padding: 20px;
}
