---
layout: default
---

{% include base.html %}

<article {% if page.feature-img %}class="feature-image"{% endif %}>
    {% if page.feature-img %}
    {% else %}
       {% if page.thumbnail != None and page.thumbnail != '' %}
            <img class="post_thumbnail lazyload" data-src="{{ base }}/{{page.thumbnail}}" />
       {% endif %}
    {% endif %}

  <header id="main" style="background-image: url('/{{ page.feature-img }}')">
    {% if page.viewpostfigure %}
    <figure>
      <img class="postfigure" src="{{ base }}/assets/img/tzm_community_news.jpg" />
      <figcaption>TZM {{ page.title }}</figcaption>
    </figure>
    {% endif %}
    
    <h1 id="{{ page.title | default: "" | cgi_escape }}" class="title">
        {{ page.title }}
    </h1>


    {% if page.subtitle %}
    <h2 class="subtitle">{{ page.subtitle }}</h2>
    {% endif %}
  </header>
  
  <section class="post-content">
  {% if page.bootstrap %}
  <div class="bootstrap-iso">
  {% endif %}
	{{ content }}
  {% if page.bootstrap %}
  </div>
  {% endif %}
  </section>

</article>
